.commonTree {
  display: inline-block;
}
.commonDisp {
  padding-left: 3em;
  display: inline-block;
}

#classTree {
  @extend .commonTree;
}
#classDisp {
  @extend .commonDisp;
}

#relTree {
  @extend .commonTree;
}
#relDisp {
  @extend .commonDisp;
}

#neTree {
  @extend .commonTree;
}
#neDisp {
  @extend .commonDisp;
}
